node_modules
.env
.env.*
!/.env.example
dist
.next
coverage
*.tsbuildinfo
*.log
.DS_Store
apps/api/prisma/migrations/*/migration_lock.toml
.vercel
apps/web/playwright-report
apps/web/test-results
localhost
Masaralmohamiv1
output/
tmp/pdfs/
tmp/stitch_export/
