node_modules
dist
.expo
.env.local
*.log
*.tmp
*.temp
.DS_Store
ios/Pods
ios/Pods/**
ios/build
ios/build-*
ios/build/**
ios/build-*/**
ios/DerivedData
ios/DerivedData/**
ios/*.xcworkspace/xcuserdata
ios/*.xcodeproj/xcuserdata
android/.gradle
android/.gradle/**
android/.kotlin
android/.kotlin/**
android/app/.cxx
android/app/.cxx/**
android/app/build
android/app/build/**
android/build
android/build/**
